extends layout
block content
  //Başlık bölümündeki bilgileri ayarlaya
  #banner.page-header
    //satır oluştur
    .row
      .col-lg-6
        h1
          |Mekan32
          small &nbsp;Isparta civarındaki mekanları keşfedin!
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Burgerking
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address iyaspark AVM
           p
              span.label.label-warning Hamburger
              | &nbsp;
              span.label.label-warning Dondurma
              | &nbsp;
              span.label.label-warning Soğan halkası
              | &nbsp;            
    .col-xs-12.col-sm-4





  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Cafe sessiz
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address isparta merkez
           p
              span.label.label-warning Kahveler
              | &nbsp;
              span.label.label-warning Kahvalti
              | &nbsp;
              span.label.label-warning Yemek
              | &nbsp;            
    .col-xs-12.col-sm-4

    
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Gloria jean's
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 1km
           p.address ıyaspark AVM
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Yoresel kahveler
              | &nbsp;
              span.label.label-warning Kekler
              | &nbsp;            
    .col-xs-12.col-sm-4

    
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Kahve Diyari
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address İsparta merkez
           p
              span.label.label-warning Dünya Kahveleri
              | &nbsp;
              span.label.label-warning Yoresel Yemek
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;            
    .col-xs-12.col-sm-4

    
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Kofteci Yusuf
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address İsparta cunur
           p
              span.label.label-warning Burger
              | &nbsp;
              span.label.label-warning Kofte
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;            
    .col-xs-12.col-sm-4

    
  .row
    //mobil uyumlu listeleme
    .col-xs-12.col-sm-12
      //Liste grubu oluştur
      .row.list-group
       //Listeye öğe ekleme. Birden fazla eleman ekliycekseniz
       //aşağıdaki kodu kopyalayın ve yapıştırın
       .col-xs-12.list-group-item
           //Linklerin, yıldızların ve adresin oluşturulması
           h4
             a(href='/mekan/') Donas
             small &nbsp;
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star
             span.glyphicon.glyphicon-star-empty
           span.badge.pull-right.badge-default 10km
           p.address isparta kafeler caddesi 
           p
              span.label.label-warning Doner
              | &nbsp;
              span.label.label-warning Tatli
              | &nbsp;
              span.label.label-warning Pastalar
              | &nbsp;            
    .col-xs-12.col-sm-4

    
